#section1 {
  margin-top: 96px;
  margin-bottom: 96px;
  display: flex;
  justify-content: space-between;
}
#section1 .section1_left {
  height: 360px;
  max-width: 768px;
}
#section1 .section1_left h1 {
  color: var(--Gray-900, #111827);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -1.2px;
}
#section1 .section1_left p {
  color: var(--Gray-600, #4b5563);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 28px;
}
#section1 .section1_left .div_span1 {
  color: var(--Gray-600, #4b5563);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  gap: 8px;
}
#section1 .section1_left .div_span2 {
  color: var(--Gray-600, #4b5563);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 8px;
}
#section1 .section1_left .div_3img {
  display: flex;
  padding-top: 38px;
}
#section1 .section1_right img {
  box-shadow: 40px 40px 0px -10px #e5e7eb;
}
#section1 .section1_right :hover {
  box-shadow: none;
  transition: all 1s;
}

#section2 {
  display: flex;
  justify-content: space-between;
  background: #000;
}
#section2 .btn_about {
  border-radius: 12px;
  background: var(--Gray-200, #e5e7eb);
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
#section2 .section2_left img {
  box-shadow: 40px 40px 0px -10px #e5e7eb;
  width: 400px;
}
#section2 .section2_left img:hover {
  box-shadow: none;
  transition: all 1s;
}
#section2 .section2_right {
  width: 584px;
}
#section2 .section2_right h2 {
  color: var(--Gray-900, #111827);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.6px;
  margin-bottom: 24px;
}
#section2 .section2_right p {
  color: var(--Gray-600, #4b5563);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#section2 .section2_right .div_p p {
  color: var(--Gray-600, #4b5563);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#section2 .section2_right .div_p .ul li {
  display: flex;
  gap: 10px;
}

#section2 {
  display: flex;
  justify-content: space-between;
  background: #000;
}
#section2 .btn_about {
  border-radius: 12px;
  background: var(--Gray-200, #e5e7eb);
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
#section2 .section2_left img {
  box-shadow: 40px 40px 0px -10px #e5e7eb;
  width: 400px;
}
#section2 .section2_left img:hover {
  box-shadow: none;
  transition: all 1s;
}
#section2 .section2_right {
  width: 584px;
}
#section2 .section2_right h2 {
  color: var(--Gray-900, #111827);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.6px;
  margin-bottom: 24px;
}
#section2 .section2_right p {
  color: var(--Gray-600, #4b5563);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#section2 .section2_right .div_p p {
  color: var(--Gray-600, #4b5563);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#section2 .section2_right .div_p .ul li {
  display: flex;
  gap: 10px;
}/*# sourceMappingURL=all-sections.css.map */