@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/Inter-Black.ttf) format("ttf");
  font-size: normal;
  font-weight: normal;
}

// font 2-------

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/Inter-Bold.ttf) format("ttf");
  font-size: normal;
  font-weight: normal;
}

// font 3 ------------------

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/Inter-ExtraBold.ttf) format("ttf");
  font-size: normal;
  font-weight: normal;
}

// font 4 ------------------

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/Inter-ExtraLight.ttf) format("ttf");
  font-size: normal;
  font-weight: normal;
}

// font 5 ------------------

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/Inter-Light.ttf) format("ttf");
  font-size: normal;
  font-weight: normal;
}

// font 6 ------------------

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/Inter-Medium.ttf) format("ttf");
  font-size: normal;
  font-weight: normal;
}

// font 7 ------------------

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/Inter-Regular.ttf) format("ttf");
  font-size: normal;
  font-weight: normal;
}

// font 8 ------------------

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/Inter-SemiBold.ttf) format("ttf");
  font-size: normal;
  font-weight: normal;
}

// font 9 ------------------

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/Inter-Thin.ttf) format("ttf");
  font-size: normal;
  font-weight: normal;
}
// font 10 ------------------

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/Inter-VariableFont_slnt\wght.ttf) format("ttf");
  font-size: normal;
  font-weight: normal;
}
